<?php

date_default_timezone_set('Europe/Prague');

$dbOptions = array(
	'driver'   => 'mysql',
	'host'     => 'localhost',
	'username' => '',
	'password' => '',
	'database' => '',
	'charset'  => 'utf8',
);

$baseurl = '/nakupy/';
